APScheduler==2.1.2
#JetFileII==0.0.1
git+https://github.com/decolector/LEDSign.git
couchdbkit==0.6.5
gnureadline==6.2.5
http-parser==0.8.3
pyserial==2.7
restkit==4.2.2
socketpool==0.5.3
wsgiref==0.1.2
requests==2.2.1
