<?xml version="1.0"?>
	<config>
		<host_name>decolector.cloudant.com</host_name>
		<db_name>messages</db_name>
		<endpoint>_all_docs</endpoint>
		<display_addr>192.168.1.101</display_addr>
		<display_port>9520</display_port>
		<limit>1</limit>
		<descending>1</descending>
		<seconds>60</seconds>
		<username>user</username>
		<password>hackme</password>
	</config>
